<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width;">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/demos.js"></script>
    <script type="text/javascript" src="js/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqxtabs.js"></script>
    <script type="text/javascript" src="js/jqxcheckbox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Create jqxTabs.
            $('#jqxTabs').jqxTabs({ width: '100%', height: 500, position: 'top'});
            $('#settings div').css('margin-top', '10px');
            $('#animation').jqxCheckBox({ theme: theme });
            $('#contentAnimation').jqxCheckBox({ theme: theme });

            $('#animation').on('change', function (event) {
                var checked = event.args.checked;
                $('#jqxTabs').jqxTabs({ selectionTracker: checked });
            });
           
            $('#contentAnimation').on('change', function (event) {
                var checked = event.args.checked;
                if (checked) {
                    $('#jqxTabs').jqxTabs({ animationType: 'fade' });
                }
                else {
                    $('#jqxTabs').jqxTabs({ animationType: 'none' });
                }
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
	<div class="panel-heading">
		<h3>xx1 BK</h3>
	</div><BR/>
			<center><h3>Form Kerusakan Inspect Biskuit</h3></center>
	<center>
	<form class="form-horizontal">
		<table class="table">
			<tr>
				<td>
					<div class="form-group">
						<label for="Tanggal" class="col-xs-4 control-label">Tanggal</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="Tanggal" placeholder="Tanggal">
						</div>
					</div>
					<div class="form-group">
						<label for="Item" class="col-xs-4 control-label">Item</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="item" placeholder="Item">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<label for="KW1" class="col-xs-4 control-label">KW1</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="kw1" placeholder="KW1">
						</div>
					</div>
				</td>
			</tr>
		</table>
	<div id='jqxWidget'>
        <div id='jqxTabs'>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#bgps">BGPS</a></li>
				<li><a href="#jigering">Jigering</a></li>
				<li><a href="#casting">Casting</a></li>
				<li><a href="#bk"> BK </a></li>
			</ul>&nbsp;<p/>

			<div>
					<table class="table table-hover">
						<tr class="danger">
							<td></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 2</strong></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 3</strong></td>
						</tr>
						<tr>
							<td class="col-xs-4">Bintik Hitam Bawah</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bhb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bhb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
					</table>
					<div class="form-group">
						<div class="col-xs-offset-4 col-xs-5">
							<button type="submit" class="btn btn-success">Simpan</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-success">&nbsp;&nbsp;Batal&nbsp;&nbsp;</button>
						</div>
					</div>
				</form>
			</div>

			## Tab Jigering start##
			<div>
					<table class="table table-hover" >
						<tr class="danger">
							<td></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 2</strong></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 3</strong></td>
						</tr>
						<tr>
							<td class="col-xs-4">Kerusakan Body</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Kerusakan Cetak</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Body Pin Hole</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bp_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bp_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Kaki</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rk_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rk_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Pinggir</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Bawah</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Bawah Cembung</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Bawah Cekung</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bck_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bck_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Berubah Bentuk</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Bloating</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bt_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bt_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">LIT</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="lit_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="lit_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Tempel</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rt_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rt_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Kerusakan Finishing</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kf_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kf_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Tepung Body</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="tb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="tb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Siwa</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rs_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rs_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Ceper</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Pori Pori</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pp_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pp_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
					</table>
					<div class="form-group">
						<div class="col-xs-offset-4 col-xs-6">
							<button type="submit" class="btn btn-success">Simpan</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-success">&nbsp;&nbsp;Batal&nbsp;&nbsp;</button>
						</div>
					</div>
				</form>
			</div>
			## Tab Casting start##
			<div>
					<table class="table table-hover" >
						<tr class="danger">
							<td></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 2</strong></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 3</strong></td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Cetak</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Kaki</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rk_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rk_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Pinggir</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Bawah</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Retak Body Tempel</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rbt_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rbt_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Berubah Bentuk</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Bloating</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bt_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="bt_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">LIT</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="lit_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="lit_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Pinhole Body Tempel</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pbt_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pbt_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Kerusakan Finishing</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="k`_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="kf_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Tepung Body</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="tb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="tb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Body</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rbd_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rbd_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
					</table>
					<div class="form-group">
						<div class="col-xs-offset-4 col-xs-6">
							<button type="submit" class="btn btn-success">Simpan</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-success">&nbsp;&nbsp;Batal&nbsp;&nbsp;</button>
						</div>
					</div>
				</form>
			</div>

			## Tab BK start##
			<div>
					<table class="table table-hover" >
						<tr class="danger">
							<td></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 2</strong></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>KW 3</strong></td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Pinggir</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rp_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Gagang</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rg_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rg_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Terbakar/Crack</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Kelalaian Menyusun</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="km_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="km_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Siwa</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rs_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rs_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Rusak Bawah</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="rb_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Pecah</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pc_kw2" placeholder="kw2">
									</div>
							</td>
							<td>	<div class="col-xs-10">
										<input type="text" class="form-control" id="pc_kw3" placeholder="kw3">
									</div>
							</td>
						</tr>
					</table>
					<div class="form-group">
						<div class="col-xs-offset-4 col-xs-6">
							<button type="submit" class="btn btn-success">Simpan</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-success">&nbsp;&nbsp;Batal&nbsp;&nbsp;</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
</div>	
</body>
</html>                                		